<div class="container">
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <div class="mb-3"><img src="https://thumbs.dreamstime.com/z/smiling-female-doctor-holding-medical-records-lab-coat-her-office-clipboard-looking-camera-56673035.jpg" width="200" /></div>
            <h3 class="card-title">Medico</h3>
            <h6 class="card-subtitle mb-2 text-muted">Everything you need to understand is "Stay healthy"</h6>
            <div class="row rone mt-4">
                <div class="col-md-6">
                    <p class="text-muted"><i class="far fa-check-circle"></i>First Name: {{doctor.firstName}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Last Name: {{doctor.lastName}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Hospital Name: {{doctor.hospitalName}}</p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted"><i class="far fa-check-circle"></i>Contact: {{doctor.mobileNo}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Experience: {{doctor.experience}}</p>
                </div>
            </div>

            <button (click)="bookAppointment(doctor.doctorId)" type="button" class="btn btn-primary mt-3"><span>Book Appointment</span></button>
        </div>
    </div>
</div>


<!-- <h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{doctor.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{doctor.lastName}}
    </div>
    <div>
        <label> <b> Hospital Name: </b></label> {{doctor.hospitalName}}
    </div>
</div> -->